.places {
    text-align: center;

    h1 {
        font-size: 30px;
        margin: auto;
        padding-top: 2%;
        text-align: left;
    }
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;

    h2 {
        font-size: 30px;
        margin: auto;
    }
}
