.places {
    text-align: center;
}

.places h2 {
    font-size: 30px;
    }

.places h1 {
        margin: auto;
        font-size: 30px;
        padding-top: 2%;
        text-align: left;
    }

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    min-height: 300px;
}

.places article h2 {
    font-size: 30px;
    display: inline-block;
    margin-top: auto;
    margin-left: 15%;
}

.places article .price_by_night {
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    padding: 3px;
    float: right;
}

.places article .information {
    height: 80px;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    margin-top: 20px;
}

.places article .information .max_guest {
    line-height: 140px;
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    background-image: url("../images/icon_group.png");
}

.places article .information .number_rooms {
    line-height: 140px;
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    background-image: url("../images/icon_bed.png");
}

.places article .information .number_bathrooms {
    line-height: 140px;
    width: 100px;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    background-image: url("../images/icon_bath.png");
}

.places article .user {
    margin-top: 10px;
    text-align: left;
}

.places article .description {
    margin-top: 10px;
    text-align: left;
}
